.btn-container {
  display: flex;
  width: 50rem;

  .btn {
    height: 5rem;
    -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    width: 15rem;
    background-color: #f5f9fc;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    margin-right: -10px;
    position: relative;

    p {
      @include center-flex;
      justify-content: flex-start;
      font-weight: bold;
      text-transform: uppercase;
      color: #9fb0bb;
    }
    &:not(:first-child) {
      p {
        margin-left: 1rem;
      }
    }
  }
}
