.card-primary {
  height: 15rem;
  background-color: rgba($light-grey, 1);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5rem;

  i {
    font-size: 5rem;
    margin: 2.5rem 0;
  }

  p {
    font-size: 1.6rem;
  }

  i,
  p {
    color: #fff;
    transition: all 0.3s;
  }

  &:hover {
    i,
    p {
      color: $blue;
    }
  }
}
