.carousel {
  // width: 100%;
  // height: 40rem;
  padding: 0 10rem 2rem;
  text-align: center;
  // overflow-y: auto;

  &_user {
    padding-top: 2rem;

    &_img {
      width: 10rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      // display: inline-block;
    }

    &_text {
      display: inline-block;
      padding-left: 2rem;
      height: 100%;

      h3 {
        letter-spacing: 0.2rem;
        font-weight: 200;
      }

      p {
        font-weight: 100;
        font-style: italic;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }
    }
  }
}

@include respond(tab-land) {
  .carousel {
    padding: 0 5rem 2rem;

    &_user {
      &_img {
        width: 7.5rem;
      }

      &_text {
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include respond(phone) {
  .carousel {
    padding: 0 3rem 2rem;

    &_user {
      &_img {
        width: 6rem;
      }

      &_text {
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 10rem;
  width: 10rem;
  outline: $black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: "\00BB";
  font-size: 5.5rem;
  color: $blue;
}

.carousel-control-prev-icon:after {
  content: "\00AB";
  font-size: 5.5rem;
  color: $blue;
}

.carousel-indicators .active {
  background-color: $blue;
}
