.details-container {
  display: flex;
  // justify-content: space-between;
  padding-bottom: 2rem;
}

.list-container {
  padding: 0 5rem;
  font-size: 1.6rem;
  .para-tertiary {
    padding-bottom: 2rem;
  }
  li {
    padding-bottom: 1rem;
  }
}

.img-container {
  text-align: center;
  @include center-flex;
}

.video-container {
  text-align: center;
  @include center-flex;
}

// @include respond(phone) {
// }
