::-webkit-scrollbar {
  width: 15px;

  /* Track */
  &-track {
    box-shadow: inset 0 0 5px $light-grey;
  }

  &-button {
    height: 20rem;
    background-color: rgba($black, 0.5);
  }

  /* Handle */
  &-thumb {
    background-color: $light-grey;

    &:hover {
      background-color: $blue;
    }
  }
}

.scrollbar-hide {
  ::-webkit-scrollbar {
    width: 0;
  }
}
