.about {
  padding: 7rem;
  background-color: #fff;
  transition: all 0.5s;
  overflow: hidden;
  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 11rem;
    }
  }

  .para-primary {
    margin: 0 2rem 5rem 0;
  }
}

.bio {
  padding: 7rem;
  overflow: hidden;

  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 7rem;
    }
  }

  .img-container {
    img {
      width: 30rem;
    }
  }

  // .para-tertiary {
  //   line-height: 2.5rem;
  // }
}

.skills {
  padding: 7rem;
  background-color: $black;
  color: #fff;

  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 10rem;
    }
  }
}
@include respond(phone) {
  .about-main {
    img {
      width: 25rem;
    }
  }
}

@include respond(big-desktop) {
}
