.about {
  padding: 7rem;
  background-color: #fff;
  transition: all 0.5s;
  overflow: hidden;
  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 11rem;
    }
  }

  .para-primary {
    margin: 0 2rem 5rem 0;
  }
}

.about-main {
  padding: 7rem;
  overflow: hidden;

  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 11rem;
    }
  }

  img {
    width: 40rem;
  }

  // .para-tertiary {
  //   line-height: 2.5rem;
  // }
}

@include respond(phone) {
  .about-main {
    img {
      width: 30rem;
    }
  }
}

@include respond(big-desktop) {
  .about-main {
    img {
      width: 100rem;
    }
  }
}
