.contact-home {
    // height: 100vh;
    background-color: $black;
    padding: 7rem;
    min-height: 100vh;
    color: #fff;

    h1 {
        &::before {

        width: 5rem;
        } 
        
        &:hover::before {
            width: 24rem;
        }
    }

    .card-primary {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        
        height: auto;

        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        

        .btn-container {
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }

        a {
            text-decoration: none;
        }
    }
}