.contact {
    padding: 7rem;
    background-color: $black;
    color: #fff;
    height: 100vh;

    h2 {
&::before {

        width: 5rem;
        } 
        
        &:hover::before {
            width: 14rem;
        }
}

&_form {
    text-align: center;

    form {
        width: 50%;
        height: 50rem;
        border-radius: 10px;
    background-color: rgba($light-grey, 0.4);
    display:inline-block;
    padding: 2rem 5rem;
    }
    
    
}
}


  @include respond(tab-land) {

    .contact {
        &_form {
            form {
                width: 75%;
            }
        }
    }

      
    }

@include respond(phone) {

    .contact {
        &_form {
            form {
                width: 100%;
            }
        }
    }
}
