.projects {
  padding: 7rem;
  background-color: $black;
  transition: all 0.5s;
  overflow: hidden;
  color: #fff;

  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 14rem;
    }
  }

  .card-primary {
    &:hover {
      cursor: pointer;
    }
  }

  .para-primary {
    margin: 3rem 0;
  }
}

.cure-and-fit {
  padding: 7rem;
  // background-color: $black;
  // color: #fff;
  overflow: hidden;

  .video-container {
    video {
      width: 40rem;
    }
  }

  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 17rem;
    }
  }

  .btn-container {
    a {
      color: $blue;
      border: 1px solid $blue;

      text-decoration: none;
    }
  }
}

.note-me {
  padding: 7rem;
  min-height: 100vh;
  background-color: $light-grey;
  color: #fff;
  overflow: hidden;

  h2 {
    &::before {
      width: 5rem;
    }

    &:hover::before {
      width: 15rem;
    }
  }

  .video-container {
    video {
      width: 100%;
    }
  }
  // .list-container {
  //     padding-bottom: 3rem;
  // }
}

@include respond(tab-land) {
  .cure-and-fit {
    .video-container {
      video {
        width: 30rem;
      }
    }
  }
}

@include respond(tab-port) {
  .cure-and-fit {
    .video-container {
      video {
        width: 30rem;
      }
    }
  }
}

@include respond(phone) {
  .cure-and-fit {
    .video-container {
      video {
        width: 30rem;
      }
    }
  }
}
